.about{
    background-color: $white;
    height: 300px;
    width: 50%;
    position: relative;
    left: 25%;
    section{
        background-color: $white;
        h3{
            text-align: center;
            font-size: 40px;
        }
        p{
            line-height: 40px;
            text-indent: 20px;
            font-size: 25px;

        }
    }
}