.bar{
    height: 50px;
    width: 100%;
    background-color: $white;
    position: relative;
    top: 30%;
    color: $white;
}
.bar-two{
    height: 50px;
    width: 100%;
    background-color: $white;
    position: relative;
    top: 60%;
    color: $white;
}