
.story{
    width: 60%;
    position: relative;
    left: 20%;
    h3{
        text-align: center;
        font-size: 40px;
    }
    p{
        line-height: 40px;
        text-indent: 20px;
        font-size: 25px;

    }
}