@import 'variables.scss';
@import 'keyframes.scss';
@import 'header.scss';
@import 'sectionOne.scss';
@import 'about.scss';
@import 'sectionTwo.scss';
@import 'story.scss';
@import 'team.scss';
@import 'purpose.scss';
@import 'contact.scss';

*{
    
}
body{
    border: 3px solid $radTeal;
    background-color: $shufflePurple;
    margin: 20px auto 100px auto;
    width: 90vw;
    max-width: 1350px;
    main{
        position: relative;
        top: 10%;
        background-color: $white;
        margin: 0 0 0 0;
        .content-area{
            top: 10%;
            width: 90%;
            margin: 0 5% 0 5%;
            background-color: $white;
            height: 100%;
            .section-one{
                background-image:linear-gradient(rgba(61,11,97, 0.8), rgba(43,168,144, 0.9)), url(../Images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
                height: 800px;
                margin: 0 0 0 0;
            }
            .section-two{
                background-image: linear-gradient(rgba(61,11,97, 0.8), rgba(43,168,144, 0.9)),url(../Images/hanny-naibaho-aWXVxy8BSzc-unsplash.jpg);
                height: 800px;
                margin: 0 0 0 0;
            }
            .section-one, .section-two{
                width: 100%;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

    }
}

@import 'queries.scss';